<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiongch.news">
    <application>
        <meta-data
            android:name="com.xiongch.news.NewsApplication"
            android:value="IModuleConfig" />

        <activity android:name="com.xiongch.news.ui.NewsActivity"/>
    </application>
</manifest>
