<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiongch.girl">
    <application>
        <meta-data
            android:name="com.xiongch.girl.GirlsApplication"
            android:value="IModuleConfig" />

        <activity android:name="com.xiongch.girl.ui.GirlActivity"/>
    </application>
</manifest>
